.title {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 30px;
}

.input {
  width: 90%;
  max-width: 350px;
  padding: 10px 10px 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;

  &:focus {
    border: #75a2d3 1px solid;
    outline: none;
  }
}

.inputCaptcha {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 50%;
  text-align: center;
  padding: 5px 5px 3px;
  color: #3d4146;
  font-weight: bold;
  letter-spacing: 1px;

  &:focus {
    border: #75a2d3 1px solid;
    outline: none;
  }
}

.checkbox {
  margin-right: 5px;
}

.button {
  padding: 12px 12px 10px 12px;
  border: none;
  border-radius: 4px;
  background-color: #466f9b;
  color: white;
  font-size: 18px;
  transition: 0.1s linear;
}

.button:hover {
  background-color: #5782af;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 5px;

  & p {
    font-size: 16px;
    color: #555;
    margin-top: 2px;
  }
}

.blockCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.errorMessage {
  color: rgb(167, 31, 31);
}

.captcha {
  width: 60%;
}

.capthaMessage {
  font-size: 18px;
  color: #333;
  text-align: center;

  & a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.capthaBtnOver {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #0056b3;
  }
}
