.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.title {
  margin-top: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  margin: 10px 0;
  border-bottom: 1px solid #3a487038;
  padding-bottom: 10px;
}

.inputField {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
  resize: none;
  outline: none;
  height: 58px;
  min-height: 58px;
  max-height: 58px;
  background-color: #ffffffcb;
  scrollbar-width: none;
}

.button {
  padding: 10px 20px 6px;
  background-color: #7faddf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    background-color: #4d9cf1;
  }

  &:disabled {
    background-color: #7faddf;
    cursor: not-allowed;
  }
}

.postContainer {
  width: 90%;
  max-width: 500px;
  padding: 10px 10px 6px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  position: relative;
  word-wrap: break-word;
  transition: 0.1s ease-in-out;

  &:hover {
    padding: 10px 18px 6px 10px;
  }

  @media (max-width: 700px) {
    max-width: 400px;
  }

  @media (max-width: 600px) {
    max-width: 300px;
  }

  @media (max-width: 300px) {
    max-width: 200px;
  }
}

.postTitle {
  font-size: 1.2rem;
  color: #333;
}

.datePost {
  padding-top: 5px;
  color: #575757;
}

.dots {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 22px;
  color: #575757;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s ease;
}

.postContainer:hover .dots {
  opacity: 1;
}

.editorBlock {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 4px;

  & button {
    padding: 5px 8px 3px;
    font-size: 16px;
    text-align: center;
    color: aliceblue;
    background-color: #79899b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease;

    &:hover {
      background-color: #8493a3;
    }
  }
}

.paragraph {
  color: #555;
  margin-bottom: 10px;
}

.editTitleInput {
  width: 95%;
  padding: 0;
  border: none;
  font-size: 1.2rem;
  border-radius: 4px;
  outline: none;
  transition: 0.3s ease;
  color: #46678d;
}

.noOwnerBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  & p {
    font-size: 20px;
    color: #333;
    text-align: center;
  }
}

.sadEmoji {
  font-size: 40px;
  color: #464646;
}
