.header {
  display: flex;
  align-items: center;
  background-color: #4a63868c;
  border-radius: 0 0 5px 5px;
  position: relative;

  & h2 {
    margin-bottom: 3px;
  }
}

.avatar {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 20px;
}

