.header {
  display: flex;
  align-items: center;
  background-color: #4a63868c;
  border-radius: 0 0 5px 5px;
  position: relative;
  padding: 5px 20px 5px 0;

  & h2 {
    margin-bottom: 3px;
  }
}

.photoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
}

.avatar {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.infoBlock {
  background-color: #dbdbdb;
  color: #4b4b4b;
  margin-top: 5px;
  padding: 5px 4px 4px;
  border-radius: 5px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  transition: 0.2s ease-in-out;



  &:hover .arrowMore {
    opacity: 1;
    position: relative;
  }
}

.arrowMore {
  opacity: 0;
  position: absolute;
  transition: 0.2s ease;
}
