.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 320px;
  margin: 20px auto;
  background-color: #f9f9f9;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.description {
  text-align: center;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px 10px 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  text-align: center;
  transition: 0.1s ease-in-out;

  &:focus {
    border-color: #99aabb;
  }
}

.inputContainer {
  width: 100%;
  position: relative;
}

.checkMark {
  position: absolute;
  font-size: 24px;
  color: #2a7023;
  right: -2px;
  top: -2px;
  background-color: #f9f9f9;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  transition: 0.2s ease-in;
}

.active {
  opacity: 1;
  z-index: 1;
}

.buttonSave {
  width: 40%;
  padding: 10px 10px 8px;
  background-color: #516479;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #5d6b7c;
  }
}

.link {
  text-decoration: none;
  color: rgb(92, 118, 158);
}

/* Language */

.languageBlock {
  text-align: center;
}

.buttonLanguage {
  padding: 8px 16px 6px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #516479;
  border-radius: 5px;
  background-color: #fff;
  color: #516479;
  transition: 0.2s ease-in-out;
  letter-spacing: 0.5px;

  &:hover {
    background-color: #516479;
    color: #fff;
  }

  &:disabled {
    background-color: #778ca3;
    color: #fff;
    cursor: not-allowed;
    border-color: #778ca3;
  }
}
