.accordion {
    width: 100%;
    border: 1px solid transparent;
    position: relative;
    z-index: 1;
  }
  
  .accordion-title {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px 0 6px;
    background-color: #6786af;
    cursor: pointer;
  }
  
  .accordion-content {
    padding: 10px;
    background-color: #d1daee;
    border: 1px solid transparent;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

  }