.error-container {
  padding: 20px 5px;
  background-color: #f8d7da;
  border: 1px solid #fcadb5;
  border-radius: 5px;
  width: 50%;
  color: #721c24;
  font-size: 18px;
  margin: 40px auto;
}

.error-message {
  text-align: center;
}
